<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Course_form_edit" 
        service="Course" 
        entity="Course" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #credit_hours attr="credit_hours" label="credit_hours" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #is_graduate attr="is_graduate" label="is_graduate" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="COURSEREQUIREMENT-course_id">
    <div layout-padding>
      <o-table 
        attr="CourseRequirementTable" 
        service="CourseRequirement" 
        entity="CourseRequirement" 
        keys="id"
        parent-keys="course_id:id"
        columns="id;course_id;prerequisite_id"  
        horizontal-scroll="yes"
        detail-form-route="CourseRequirement" 
        edit-form-route="CourseRequirement"
        visible-columns="id;course_id;prerequisite_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:course_id"
        value-column="name" keys="course_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="prerequisite_id" title="prerequisite_id">
    <o-table-cell-renderer-service attr="prerequisite_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:prerequisite_id"
        value-column="name" keys="prerequisite_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="COURSEREQUIREMENT-prerequisite_id">
    <div layout-padding>
      <o-table 
        attr="CourseRequirementTable" 
        service="CourseRequirement" 
        entity="CourseRequirement" 
        keys="id"
        parent-keys="prerequisite_id:id"
        columns="id;course_id;prerequisite_id"  
        horizontal-scroll="yes"
        detail-form-route="CourseRequirement" 
        edit-form-route="CourseRequirement"
        visible-columns="id;course_id;prerequisite_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:course_id"
        value-column="name" keys="course_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="prerequisite_id" title="prerequisite_id">
    <o-table-cell-renderer-service attr="prerequisite_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:prerequisite_id"
        value-column="name" keys="prerequisite_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ENROLLMENT-course_id">
    <div layout-padding>
      <o-table 
        attr="EnrollmentTable" 
        service="Enrollment" 
        entity="Enrollment" 
        keys="id"
        parent-keys="course_id:id"
        columns="id;course_id;student_id;enrollment_date"  
        horizontal-scroll="yes"
        detail-form-route="Enrollment" 
        edit-form-route="Enrollment"
        visible-columns="id;course_id;student_id;enrollment_date"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:course_id"
        value-column="name" keys="course_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="student_id" title="student_id">
    <o-table-cell-renderer-service attr="student_id" 
        service="Student" entity="StudentType" columns="id;first_name"
        parent-keys="id:student_id"
        value-column="first_name" keys="student_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #enrollment_date attr="enrollment_date" type="date" label="enrollment_date" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="PROGRAMCOURSE-course_id">
    <div layout-padding>
      <o-table 
        attr="ProgramCourseTable" 
        service="ProgramCourse" 
        entity="ProgramCourse" 
        keys="id"
        parent-keys="course_id:id"
        columns="id;course_id;program_id"  
        horizontal-scroll="yes"
        detail-form-route="ProgramCourse" 
        edit-form-route="ProgramCourse"
        visible-columns="id;course_id;program_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:course_id"
        value-column="name" keys="course_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="program_id" title="program_id">
    <o-table-cell-renderer-service attr="program_id" 
        service="DegreeProgram" entity="DegreeProgramType" columns="id;name"
        parent-keys="id:program_id"
        value-column="name" keys="program_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TEACHERCOURSEASSIGNMENT-course_id">
    <div layout-padding>
      <o-table 
        attr="TeacherCourseAssignmentTable" 
        service="TeacherCourseAssignment" 
        entity="TeacherCourseAssignment" 
        keys="id"
        parent-keys="course_id:id"
        columns="id;course_id;teacher_id;term"  
        horizontal-scroll="yes"
        detail-form-route="TeacherCourseAssignment" 
        edit-form-route="TeacherCourseAssignment"
        visible-columns="id;course_id;teacher_id;term"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="course_id" title="course_id">
    <o-table-cell-renderer-service attr="course_id" 
        service="Course" entity="CourseType" columns="id;name"
        parent-keys="id:course_id"
        value-column="name" keys="course_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="teacher_id" title="teacher_id">
    <o-table-cell-renderer-service attr="teacher_id" 
        service="Teacher" entity="TeacherType" columns="id;first_name"
        parent-keys="id:teacher_id"
        value-column="first_name" keys="teacher_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #term attr="term" title="term" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>