<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Activity_form_edit" 
        service="Activity" 
        entity="Activity" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #is_service attr="is_service" label="is_service" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="STUDENTACTIVITY-activity_id">
    <div layout-padding>
      <o-table 
        attr="StudentActivityTable" 
        service="StudentActivity" 
        entity="StudentActivity" 
        keys="id"
        parent-keys="activity_id:id"
        columns="id;activity_id;student_id"  
        horizontal-scroll="yes"
        detail-form-route="StudentActivity" 
        edit-form-route="StudentActivity"
        visible-columns="id;activity_id;student_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="activity_id" title="activity_id">
    <o-table-cell-renderer-service attr="activity_id" 
        service="Activity" entity="ActivityType" columns="id;name"
        parent-keys="id:activity_id"
        value-column="name" keys="activity_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="student_id" title="student_id">
    <o-table-cell-renderer-service attr="student_id" 
        service="Student" entity="StudentType" columns="id;first_name"
        parent-keys="id:student_id"
        value-column="first_name" keys="student_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>